* {
    margin: 0;
    padding: 0;


}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 85%;
    margin: 0px auto;
    /* box-sizing: border-box;
    overflow: hidden; */
}


/* header style start */
header {
    background: #FFFFFF;
    max-height: 92px;
    padding: 16px 0px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 139px;
    min-height: 60px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 32px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

nav button {
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav button:hover {
    background-color: #1e874a;
}

nav ul li a:hover{
    color: #30B868;
}

/* header style end */


/* hero section sytl start */
.container-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 674px;
    position: absolute;
    z-index: -1;

}

.box {
    position: relative;
}

.hero-sction {
    display: flex;
    padding: 76px;
    padding-bottom: 134px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;


}

.items .Early-access p {

    background-color: white;

    padding: 8px 12px;
    border-radius: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #469165;
    font-weight: 500;
    cursor: pointer;

}


.items .title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-transform: capitalize;
    align-items: center;
    justify-items: center;
    padding-bottom: 16px;
}

.items .title span:first-child {
    color: white;
    padding-top: 16px;
}

.items .title span:last-child {
    color: #30B868;
}

.items p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 32px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 24px;
}

.items .hero-button {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 16px;
}

 .btn {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 2px solid transparent;
    background: #469165;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.items .hero-button button:hover {
    border: 2px solid white;
    background: transparent;
    cursor: pointer;


}

.items .hero-button button:last-child {
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
}

.items .hero-button .btn-2:hover {
    border: 2px solid transparent;
    background: #469165;
}

/* hero section sytl end */


/* card section sytl start */

.card-top{
    margin-top: 100px;

}
.card-title{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.card-title h2{
    font-size:48px;
    font-weight: bold;
    padding-bottom: 16px;
    
}
.card-title p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    padding-bottom: 44px;
}
.cards{
    padding-bottom: 120px;
    display: flex;
    gap: 24px;
}

.card{
    width: 25%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    border-radius: 8px;
    /* border: 2px solid black; */
    box-shadow: 0px 5px 15px black;
    cursor: pointer;
    border: 2px solid transparent;
    
}

.card:hover{
    box-shadow: none;
    border: 2px solid #001931;
}
.card .cardLogo{
    
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 50px;
    
    
}
.card .cardDec{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}

.card .cardDec h1{
    font-size: 24px;
    font-weight:600;
}
.card .cardDec p{
    color: #627382;
    font-size: 16px;
    font-weight:500;
    text-align: center;
}

/* card section sytl ends */


.Brain-section{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
}

.brain-right img{
    max-width: 600px;
    max-height: 600px;
}

.brain-left p:first-child{
    text-transform: uppercase;
    padding-bottom: 16px;
    color: #469165;
}
.brain-left div h1{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;
    
}

.brain-left p{
    color: #627382;
    line-height: 20px;
    padding-bottom: 40px;
}

.brain-left ul{
    list-style-type: none;
    
}
.brain-left ul li{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 16px;
    
}

.clearly{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #F7F6F2;
    padding: 80px 0px;
    border-radius: 12px;
    margin-bottom:  120px;
}

.clearly h1{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 16px;
}
.clearly p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    padding-bottom: 16px;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 24px;
}

.clearly .btn-3:hover{
    background-color: #001931;
}

.clearly p:last-child{
    padding-bottom: 0px;
    padding-top: 16px;
}


/* footer style start */
footer{
    background-color: #001931;
    color: white;
}

.top-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-footer ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
   
}

.top-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 80px;
        padding-right: 108px;
}
footer hr{
    background-color: #D9D9D9;
    height: 1px;
    border: none;
}

.footer-bootom p{
    text-align: center;
    padding: 30px 0px;
}


/* footer style end */


