* {
    margin: 0;
    padding: 0;

}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 85%;
    margin: 0px auto;
}


/* header style start */
header {
    background: #FFFFFF;
    max-height: 92px;
    padding: 16px 0px;
    display: flex;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 139px;
    min-height: 60px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 32px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

nav button {
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav button:hover {
    background-color: #1e874a;
}

/* header style end */


/* hero section sytl start */
.container-image {

    background-repeat: no-repeat;
    background-position: center center;
    min-height: 674px;
    position: absolute;
    z-index: -1;

}
.box{
    position: relative;
}

.hero-sction {
    display: flex;
    padding: 76px;
    padding-bottom: 134px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;


}

.items .Early-access p {
    
    background-color: white;

    padding: 8px 12px;
    border-radius: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #469165;
    font-weight: 500;

}


.items .title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-transform: capitalize;
    align-items: center;
    justify-items: center;
    padding-bottom: 16px;
}
.items .title span:first-child{
    color: white;
    padding-top: 16px;
}
.items .title span:last-child{
    color: #30B868;
}

.items p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 32px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 24px;
}

.items .hero-button{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap:16px;
}

.items button{
     display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 2px solid transparent;
    background: #469165;
     color: white;
     font-weight: 600;
}
.items .hero-button button:hover{
    border: 2px solid white;
     background:transparent; 
     cursor: pointer;

    
}
.items .hero-button button:last-child{
     border: 2px solid white;
     background:transparent; 
     cursor: pointer;   
}

.items .hero-button .btn-2:hover{
    border: 2px solid transparent;
    background: #469165;
}

/* hero section sytl end */

